.bg-image-Two{
    background-image: url('../../../assets/home/featured.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}
.bg-image-Two::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}